<!-- Angular #022 - Attribute Directive ngClass -->
<div class="container">
  <div class="panel panel-default espaco">

    <!-- utilização da diretiva ngStyle -->
    <p [ngStyle]="{'background-color': 'red', 'color': 'white'}">Texto de um parágrafo</p>

    <!-- utilização da diretiva ngStyle com camelCase-->
    <p [ngStyle]="{backgroundColor: 'green', color: 'yellow'}">Texto de um parágrafo</p>

    <!-- utilização da diretiva ngStyle com um método-->
    <p [ngStyle]="alterarEstilo()">Texto de um parágrafo</p>

    <!-- utilização de ngClass-->
<p [ngClass]="{ativo: estado === true, inativo: estado === false}">Novo parágrafo.</p>

    <button class="btn btn-primary" (click)="alternar()">{{estado}}</button>


  </div>

</div>
